<% if @user_shops.empty? %>
  <div class="content-center">
    <h3>You have no saved coffee shops. Start by creating a coffee shop: </h3>
    <%= link_to "Add a new Coffee Shop", new_coffee_shop_path, class: "button-thin", style: "text-decoration: none;" %>
  </div>
<% else %>
  <div class="card-container">
    <% @user_shops.each do |shop| %>
      <div class="shop-card-small" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(106, 13, 13, 0.23)), url(<%= cl_image_path shop.photo.key, width: 250, height: 200, crop: :fill %>);">
      <h3><%= shop.name %></h3>
      </div>
    <% end %>
  </div>
<% end %>
