<h1>Tokyo Best Coffee Shops API</h1>

<div class="instructions">
  <h2>Requesting an index of all the coffee shops</h2>
  <p>Endpoint to request all the coffee shops: <span class="box"><em>api/v1/coffee_shops</em><span></p>
</div>

<div class="instructions">
  <h2>Requesting a specific coffee shop using an ID</h2>
  <p>Endpoint for a specific coffee shop: <span class="box"><em>api/v1/coffee_shops/[id]</em></span></p>
</div>

<div class="instructions">
  <h2>Searching for a coffee shop using a query</h2>
  <p>Endpoint for search: <span class="box"><em>/api/v1/coffee_shops?query=[your_query]</em></span></p>
</div>

