<h1>Tokyo Best Coffee Shops API</h1>

<h2>Making a request</h2>

<p>Endpoint to request all the coffee shops: <em>api/v1/coffee_shops</em></p>

<p>Endpoint for a specific coffee shop: <em>api/v1/coffee_shops/[id]</em></p>
