<h1>Tokyo Best Coffee Shops API</h1>

<div class="instructions">
  <h2>Requesting an index of all the coffee shops</h2>
  <p>To request all the coffee shops: <div class="box"><em>https://tokyo-best-coffee-api.herokuapp.com/api/v1/coffee_shops</em></div></p>
</div>

<div class="instructions">
  <h2>Requesting a specific coffee shop using an ID</h2>
  <p>For a specific coffee shop: <div class="box"><em>https://tokyo-best-coffee-api.herokuapp.com/api/v1/coffee_shops/<span>[id]</span></em></div></p>
</div>

<div class="instructions">
  <h2>Searching for a coffee shop using a query</h2>
  <p>For search based on a keyword: <div class="box"><em>https://tokyo-best-coffee-api.herokuapp.com/api/v1/coffee_shops?query=<span>[your_query]</span></em></div></p>
</div>

