.display-card {
  background-color: $pale-pink;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: block;
}

.card-column-left {
  display: block;
  margin-right: 24px;

  img {
    width: 100%;
    padding: 8px;
  }
}

.card-column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;

  .card-description-panel {
    flex-grow: 5;
    margin-top: 24px;
  }

  .card-buttons {
    align-self: flex-start;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.card-title {
  border-bottom: 2px solid $accent-red;

  h1 {
    font-size: 48px;
    letter-spacing: 0.1rem;
    opacity: 0.8;
  }
}

@media (min-width: 992px) {
  .display-card {
    display: flex;
  }

  .card-column-left {
  
    img {
      width: auto;
    }
  }
 
}