.review-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.review-display {
  background-color: white;
  width: 100%;
  padding: 24px;
  margin: 8px;

  .star-rating {
    color: $accent-red;
    padding-bottom: 4px;
    border-bottom: 1px solid $accent-red;
    
  }
  
  .review-content {
    font-weight: 100;
  }
}

@media (min-width: 640px) {
  .review-display {
    width: 30%;
  }
}