.search-bar {
  padding: 24px;
  display: flex;
  width: 500px;
  
  input {
    width: 350px;
    padding: 6px;
  }

  button {
    border: none;
  }
}

element.style {
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $highlight-red;
}